<h1><form method="POST" action='/logout'>
      <input type="submit" name="submit" value="LOG OUT">
</form>
</h1>

<h2> Your bill has been saved to your Organizer! </h2><br>
<p>The details are below:</p>
<h2><%= @bill.name %></h2>
<br>
Creditor: <%= @bill.creditor %><br>
<br>
Remaining Balance (for loans): $ <%= @bill.balance_owed %><br>
<br>
Monthly Payments: $ <%= @bill.monthly_payment %><br>
<br>
Due Date (each month): <%= @bill.due_date %>th<br>
<br>

<p><a href="/bills/<%= @bill.id%>/edit">Edit Bill</a></p> 

<h2><form method="POST" action="/bills/ <%= @bill.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form></h2><br>

<a href="/bills/new">Track a New Bill</a> here ~or~ <a href="/bills">Review your bills in Organizer</a>

        