<h1><%= @bill.name %></h1>
<br>
Creditor: <%= @bill.creditor %><br>
<br>
Remaining Balance (for loans): $ <%= @bill.balance_owed %><br>
<br>
Monthly Payments: $ <%= @bill.monthly_payment %><br>
<br>
Due Date (each month): <%= @bill.due_date %>
        